<:wrap shopbase.tmpl title=>"Shop Checkout" :>
<table class="items">
  <caption>Selected Order Items</caption>
  <thead>
    <tr> 
      <th class="col1">Item:</th>
      <th class="col2">Qty:</th>
      <th class="col3">Price:</th>
    </tr>
  </thead>
  <tbody><:iterator begin items:>
    <tr class="item"> 
      <td class="col1">
        <a href="<:item link:>" class="title"><:item title:></a> <:options:><:if Cfg tryandbyte aufreight:><:if Overseas:><:or Overseas:><:ifFreeShipProduct item:> - (free shipping)<:or:><:eif:><:eif Overseas:><:or Cfg:><:eif Cfg:><:if And [item description] [cfg shop product_description 1]:>
        <div class="i_description"><:item description:></div><:or And:><:eif And:>
      </td>
      <td class="col2"><:item units:> &times;</td>
      <td class="col3"><:cfg shop currency "$":><:money item price:></td>
    </tr><:iterator end items:>
  </tbody>
</table>
<div class="totals">
  <:switch:>
  <:case Shipping_cost:>
  <p class="freight"><span>(<:shipping_method:><:if Delivery_in:>, delivery in <:delivery_in:> days<:or Delivery_in:><:eif Delivery_in:>)</span> <label>Freight:</label> <:cfg shop currency "$":><:number money [shipping_cost]:></p>
  <:case Match [shipping_name] ^contact$:>
  <p class="freight"><span>(<:shipping_method:>)</span> <label>Freight:</label> TBA</p>
  <:case default:>
  <:endswitch:>
  <p class="total"><abbr><:cfg shop currency_code "AUD":></abbr> <label>Total:</label> <:cfg shop currency "$":><:number money [total]:></p>
</div><:if Cfg "site users" nopassword:><:or Cfg:><:if User:>
<p class="alert">
  This purchase will be added to your order history. You can track the status of your purchases and maintain your account details in your <a href="<:target user userpage:>">account manager</a>.
</p><:or User:>
<p class="alert">To track the status of your purchase you must <:if Or [cfg "site users" user_register]:>either <a href="<:dyntarget user show_register r [dyntarget shop checkout need_delivery [old need_delivery]] :>">Signup</a> or <:or Or:><:eif Or:><a href="<:dyntarget user show_logon r [dyntarget shop checkout need_delivery [old need_delivery]] :>">Logon</a> before you continue with this purchase.
</p><:eif User:><:eif Cfg:>
<form action="<:dyntarget shop:>" method="post">
  <h2>Billing Details:</h2>
  <table border="0" cellspacing="0" cellpadding="0">
    <tr>
      <th><label for="billFirstName"><:cfg "site users" display_firstName "First Name":></label>:</th>
      <td><input  type="text" name="billFirstName" id="billFirstName" value="<:old billFirstName:>" size="40" /> *</td>
      <td><:error_img billFirstName:></td>
    </tr>
    <tr>
      <th><label for="billLastName"><:cfg "site users" display_lastName "Last Name":></label>:</th>
      <td><input name="billLastName" type="text" id="billLastName" value="<:old billLastName:>" size="40" /> *</td>
      <td><:error_img billLastName:></td>
    </tr>
    <tr>
      <th><label for="billOrganization"><:cfg "site users" display_organization "Organisation":></label>:</th>
      <td><input type="text" name="billOrganization" id="billOrganization" size="40" value="<:old billOrganization:>" /></td>
      <td><:error_img billOrganization:></td>
    </tr>
    <tr>
      <th><label for="billStreet"><:cfg "site users" display_street "Address":></label>:</th>
      <td><input name="billStreet" type="text" id="billStreet" value="<:old billStreet:>" size="40" /> *</td>
      <td><:error_img billStreet:></td>
    </tr>
    <tr>
      <th><label for="billStreet2"><:cfg "site users" display_street2 "Address 2":></label>:</th>
      <td><input name="billStreet2" type="text" id="billStreet2" value="<:old billStreet2:>" size="40" /> *</td>
      <td><:error_img billStreet2:></td>
    </tr>
    <tr> 
      <th><label for="billSuburb"><:cfg "site users" display_suburb "Suburb":></label>:</th>
      <td><input name="billSuburb" type="text" id="billSuburb" value="<:old billSuburb:>" size="40" /> *</td>
      <td><:error_img billSuburb:></td>
    </tr>
    <tr>
      <th><label for="billPostCode"><:cfg "site users" display_postCode "Postcode":></label>:</th>
      <td><input name="billPostCode" type="text" id="billPostCode" value="<:old billPostCode:>" size="10" /> *</td>
      <td><:error_img billPostCode:></td>
    </tr>
    <tr>
      <th><label for="billState"><:cfg "site users" display_state "State":></label>:</th>
      <td><input name="billState" type="text" id="billState" value="<:old billState:>" size="10" /> *</td>
      <td><:error_img billOrganization:></td>
    </tr>
    <tr>
      <th><label for="billCountry"><:cfg "site users" display_country "Country":></label>:</th>
      <td><:if Cfgsection "country selector":>
        <select name="billCountry" id="billCountry" onchange="this.form.checkupdate.click();">
          <option value="">Please select a country</option>
          <:iterator begin dyncfgsection "country selector" sort=key:>
          <option value="<:uc [dyncfgentry key]:>"<:if Eq [old billCountry] [uc [dyncfgentry key]]:> selected="selected"<:or Eq:><:eif Eq:>><:dyncfgentry value:></option>
          <:iterator end dyncfgsection:>
        </select><:or Cfgsection:>
        <input type="text" name="billCountry" id="billCountry" size="20" value="<:old billCountry:>" /><:eif Cfgsection:> *</td>
      <td><:error_img billCountry:></td>
    </tr>
    <tr>
      <th><label for="billTelephone"><:cfg "site users" display_telephone "Telephone":></label>:</th>
      <td><input type="text" name="billTelephone" id="billTelephone" size="20" value="<:old billTelephone:>" /> *</td>
      <td><:error_img billTelephone:></td>
    </tr>
    <tr> 
      <th><label for="billFacsimile"><:cfg "site users" display_facsimile "Facsimile":></label>:</th>
      <td><input type="text" name="billFacsimile" id="billFacsimile" size="20" value="<:old billFacsimile:>" /></td>
      <td><:error_img billFacsimile:></td>
    </tr>
    <tr> 
      <th><label for="billMobile"><:cfg "site users" display_mobile "Mobile":></label>:</th>
      <td><input type="text" name="billMobile" id="billMobile" size="20" value="<:old billMobile:>" /></td>
      <td><:error_img billMobile:></td>
    </tr>
    <tr>
      <th><label for="billEmail"><:cfg "site users" display_email "Email":></label>:</th>
      <td><input type="text" name="billEmail" id="billEmail" size="40" value="<:old billEmail:>" /> *</td>
      <td><:error_img billEmail:></td>
    </tr>


    <:if And [ifShipping] [ifPhysical]:>
    <tr> 
      <th><label for="shipping_name"><:cfg shop display_shipping_name "Shipping Method":></label>:</th>
      <td><:shipping_select:></td>
      <td><:error_img shipping_name:></td>
    </tr>
    <tr>
      <td colspan="3"><label><input type="checkbox" name="need_delivery" <:ifNeedDelivery:> checked="checked"<:or:><:eif:> onchange="this.form.checkupdate.click()" /> Shipping details different to billing</label></td>
    </tr>
    <:or And:><:eif And:>
    <tr valign="top">
      <th><label for="instructions"><:cfg shop display_instructions "Instructions":></label>:</th>
      <td><textarea name="instructions" id="instructions" cols="34" rows="5"><:old instructions:></textarea></td>
      <td><:error_img instructions:></td>
    </tr>
  </table>
  <p class="small">* Required information for order to be shipped</p>
  <:if NeedDelivery:>
  
  
  <h2>Shipping Details:</h2>
  <table border="0" cellspacing="0" cellpadding="0">
    <tr>
      <th><label for="delivFirstName"><:cfg "site users" display_name1 "First Name":></label>:</th>
      <td><input type="text" name="delivFirstName" id="delivFirstName" size="40" value="<:old delivFirstName:>" /> *</td>
      <td><:error_img delivFirstName:></td>
    </tr>
    <tr>
      <th><label for="delivLastName"><:cfg "site users" display_name2 "Last Name":></label>:</th>
      <td><input type="text" name="delivLastName" id="delivLastName" size="40" value="<:old delivLastName:>" /> *</td>
      <td><:error_img delivLastName:></td>
    </tr>
    <tr>
      <th><label for="delivOrganization"><:cfg "site users" display_organization "Organisation":></label>:</th>
      <td><input type="text" name="delivOrganization" id="delivOrganization" size="40" value="<:old delivOrganization:>" /></td>
      <td><:error_img delivOrganization:></td>
    </tr>
    <tr>
      <th><label for="delivStreet"><:cfg "site users" display_street "Address":></label>:</th>
      <td><input type="text" name="delivStreet" id="delivStreet" size="40" value="<:old delivStreet:>" /> *</td>
      <td><:error_img delivStreet:></td>
    </tr>
    <tr>
      <th><label for="delivStreet2"><:cfg "site users" display_street2 "Address 2":></label>:</th>
      <td><input type="text" name="delivStreet2" id="delivStreet2" size="40" value="<:old delivStreet2:>" /></td>
      <td><:error_img delivStreet2:></td>
    </tr>
    <tr>
      <th><label for="delivSuburb"><:cfg "site users" display_suburb "Suburb":></label>:</th>
      <td><input type="text" name="delivSuburb" id="delivSuburb" size="40" value="<:old delivSuburb:>" /> *</td>
      <td><:error_img delivSuburb:></td>
    </tr>
    <tr> 
      <th><label for="delivPostCode"><:cfg "site users" display_postcode "Postcode":></label>:</th>
      <td><input type="text" name="delivPostCode" id="delivPostCode" size="10" value="<:old delivPostCode:>" /> *</td>
      <td><:error_img delivPostCode:></td>
    </tr>
    <tr>
      <th><label for="delivState"><:cfg "site users" display_state "State":></label>:</th>
      <td><input type="text" name="delivState" id="delivState" size="10" value="<:old delivState:>" /></td>
      <td><:error_img delivState:></td>
    </tr>
    <tr>
      <th><label for="delivCountry"><:cfg "site users" display_country "Country":></label>:</th>
      <td><:if Cfgsection "country selector":>
        <select name="delivCountry" id="delivCountry" onchange="this.form.checkupdate.click();">
          <option value="">Please select a country</option>
          <:iterator begin dyncfgsection "country selector" sort=key:>
          <option value="<:uc [dyncfgentry key]:>"<:if Eq [old delivCountry] [uc [dyncfgentry key]]:> selected="selected"<:or Eq:><:eif Eq:>><:dyncfgentry value:></option>
          <:iterator end dyncfgsection:>
        </select><:or Cfgsection:>
        <input type="text" name="delivCountry" id="delivCountry" size="20" value="<:old delivCountry:>" /><:eif Cfgsection:> *</td>
      <td><:error_img delivCountry:></td>
    </tr>
    <tr>
      <th><label for="telephone"><:cfg shop display_telephone "Telephone":></label>:</th>
      <td><input type="text" name="telephone" id="telephone" size="20" value="<:old telephone:>" /> *</td>
      <td><:error_img telephone:></td>
    </tr>
    <tr> 
      <th><label for="facsimile"><:cfg shop display_facsimile "Facsimile":></label>:</th>
      <td><input type="text" name="facsimile" id="facsimile" size="20" value="<:old facsimile:>" /></td>
      <td><:error_img facsimile:></td>
    </tr>
    <tr> 
      <th><label for="delivMobile"><:cfg "site users" display_mobile "Mobile":></label>:</th>
      <td><input type="text" name="delivMobile" id="delivMobile" size="20" value="<:old delivMobile:>" /></td>
      <td><:error_img delivMobile:></td>
    </tr>
    <tr>
      <th><label for="emailAddress"><:cfg "site users" display_email "Email":></label>:</th>
      <td><input type="text" name="emailAddress" id="emailAddress" size="40" value="<:old emailAddress:>" /> *</td>
      <td><:error_img emailAddress:></td>
    </tr>
  </table>
  <p class="small">* Only required if different to shipping address</p>
  <:or NeedDelivery:><:eif NeedDelivery:>
  <p><input type="checkbox" name="need_delivery" id="need_delivery" onclick="this.form.checkupdate.click()"<:ifNeedDelivery:> checked="checked"<:eif:> />
    <label for="need_delivery">Shipping details different to billing</label></p>
  <:if Cfg affiliate enabled:><h2>Referrer Details:</h2>
  <table border="0" cellspacing="0" cellpadding="0">
    <tr>
      <th nowrap="nowrap"><label for="affiliate_code">Referrer Id</label>:</th>
      <td><:ifAffiliate_code:><a href="<:cfg site secureurl:>/cgi-bin/affiliate.pl?lo=<:affiliate_code:>"><:affiliate_code:></a><input type="hidden" name="affiliate_code" value="<:affiliate_code:>" /><:or:><input type="text" name="affiliate_code" id="affiliate_code" size="30" value="<:old affiliate_code:>" /><:eif:></td>
      <td><:error_img affiliate_code:></td>
    </tr>
  </table>
  <:or Cfg:><:eif Cfg:>
  <:include include/custom/checkout_custom.tmpl optional:><:include include/checkout_custom.tmpl optional:>
  <p class="buttons">
    <input type="submit" value="Purchase now" name="a_order" accesskey="p" title="AccessKey = p" />
    <input type="submit" value="Update" name="checkupdate" accesskey="u" title="AccessKey = u" />
    <input type="submit" value="Go back" name="cart" accesskey="b" title="AccessKey = b" />
  </p>
</form>

