<:wrap user/pubbase.tmpl subtitle=>"Account Recovery" :>
<form action="<:target user:>" method="post">
  <table width="350">
    <tr>
      <td colspan="3">
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td nowrap="nowrap"><img src="/images/basic/user/lock.gif" width="32" height="32" border="0" alt="Account Recovery" />&nbsp;&nbsp;</td>
            <td width="100%"><h2><:param subtitle |h:></h2></td>
          </tr>
        </table>
      </td>
    </tr><:if User:> 
    <tr> 
      <td colspan="3">You are already logged in as <a href="<:target user:>"><:user userId:></a>, if this is not you, please <a href="<:target user logoff:>">logout now</a>.</p></td>
    </tr><:or User:><:eif User:><:if Cfg "site users" nopassword:>
    <tr> 
      <td colspan="3">Please enter the <:lc [cfg "site users" display_email "email address"]:> provided when your account was created. Access to your account will be sent to this address.</td>
    </tr><:or Cfg:>
    <tr> 
      <td colspan="3">Please enter your account <:lc [cfg "site users" display_userid "username"]:>. A password reset link will be sent to the email address of this account.</td>
    </tr><:eif Cfg:>
    <tr> 
      <th align="left" nowrap="nowrap"><b><:if Cfg "site users" nopassword:>Email Address<:or Cfg:><:cfg "site users" display_userid "Username":><:eif Cfg:>:</b></th>
      <td width="100%"> 
        <input type="text" name="userid" value="<:old userid:>" size="40" />
      </td>
      <td nowrap="nowrap"><:error_img userid:></td>
    </tr>
    <tr> 
      <td colspan="3" align="right"> 
        <input type="submit" name="lost_password" value="Recover now" accesskey="r" title="AccessKey = r" />
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr> 
            <td align="left" nowrap="nowrap"><br />
              <a href="<:target user show_logon:>">Found your password?</a></td>
              <:if Cfg "site users" user_register 1:><td align="right" nowrap="nowrap"><br />
              <a href="<:dyntarget user show_register r [cgi r] :>">Need an account?</a></td><:or Cfg:><:eif Cfg:>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</form>